@tailwind base;
@tailwind components;
@tailwind utilities;

/* .entire{
    background-color:  #FEFBEC;
}

.whole{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}


.card-mine{
    height: 590px;
    width: 825px;
    border: 2px solid #000000;
    border-radius: 48px;
    background-color: #FEFBEC;
    overflow: hidden;
    position: relative;
    
}

.top{
    height: 249px;
    border-bottom: 1px solid black;  
    overflow: hidden;
    display: flex;
}

.mid{
    height: 259px;
    border-bottom: 1px solid black;
    border-top:1px solid black ;
    border-collapse: separate;
    overflow: hidden;
    display: flex;
    
    
    

}

.bottom{
    height: 81px;
    border-top: 1px solid black;
    display: flex;
    
}

.bottom1{
    height: 81px;   
    width: 275px;
}
.bottom2{
    height: 81px;
    width: 275px;
    border-left: 1px solid black;
    border-right: 1px solid black;

}
.bottom3{
    height: 81px;
    width: 275px;
}

.circle{
    height: 381.39px;
    width: 381.39px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:#B5DDC2;
    position:relative;
    top:96.14px;
    left: -174.26px;
    
      
}


.dusra{
    height: 280.9px;
    width: 280.9px;
    border: 1px solid black;
    background-color: #F2C7AB;
    border-radius: 50%;
    position: relative;
    top: -140.45px;
    left: 85.42px; 
    z-index: 3;
}

.img-1{
    position: relative;
width: 155.97px;
height: 182.95px;
top: 37px;
left: -36px;

opacity: 0.85px;

}

*/

.place{
    font-family: Poppins;
}
/*

.circle2{
    height: 381.39px;
    width: 381.39px;
    border-radius: 50%;
    background-color:#B5DDC2;
    position:relative;
    left: -176.6px; 
    top: -167px;
    filter: blur(20px);
    opacity: 30%;
}

.circle3{

    height: 381.39px;
    width: 381.39px;
    border-radius: 50%;
    background-color:#B5DDC2;
    position:relative;
    top:110px;
    left:210px;
    filter: blur(20px);
    opacity: 30%;

}

.tbox{
    display: flex;
    flex-direction: column;
    margin-left: 37px;
    margin-top: 19px;
    width:754px;
    position: absolute;
    z-index: 2;
}
    */

.heading{
    font-family: Poppins;

}


.subhead{

    font-family: Poppins;


}

.para{
    font-family:Poppins;



}


.bottext{

    font-family: Poppins;
   

}

/*

.bottom1 img{
    width: 25.1px;
    height: 26px;


}

.bottom2 img{
    width: 25px;
    height: 25px;


}

.bottom3 img{
    width: 22.85px;
    height: 29px;


}



.workshops{
    background-color: #B5DDC2;

    height: 177px;
    border-top:2px solid #000000;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

*/

.workshops p{
    font-family: ITC Tiffany Std;

}


/*





.carousel-container {
    position: relative;
    overflow: hidden;
    display: flex;
 
  
  }

  
  .carousel-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
    
  }
  
  .carousel-item {
    width: 100vw;
    margin: 150px 0px;
    display: flex;
    justify-content: center;

  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 88px;
    height: 88px;
    z-index: 10; 
  }
  
  .carousel-button.left {
    left: 2.8%; 
  }
  
  .carousel-button.right {
    right: 2.8%; 
  } */



@media only screen and (max-width: 980px) {

    .workshops{
        background-color: #B5DDC2;
    
        height: 91.35px;
        border-top:1px solid #000000;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .workshops p{
        font-family: ITC Tiffany Std;
    font-size: 66px;
    font-weight: 700;
    line-height: 74.32px;
    text-align: left;
    
    }


    .card-mine{
        height: 435px;
        width: 610px;
        border: 2px solid #000000;
        border-radius: 35px;
        background-color: #FEFBEC;
        overflow: hidden;
        position: relative;
        
    }
    
    .top{
        height: 185px;
        border-bottom: 1px solid black;  
        overflow: hidden;
        display: flex;
    }
    
    .mid{
        height: 191px;
        border-bottom: 1px solid black;
        border-top:1px solid black ;
        border-collapse: separate;
        overflow: hidden;
        display: flex;
        
        
        
    
    }
    
    .bottom{
        height: 60px;
        width: 610px;
        border-top: 1px solid black;
        display: flex;
        
    }
    
    .bottom1{
        height: 60px;
        width: 202px;
    }
    .bottom2{
        height: 60px;
        width: 202px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    
    }
    .bottom3{
        height: 60px;
        width: 202px;
    }
    
    .circle{
        height: 280.39px;
        width: 280.39px;
        border: 1px solid black;
        border-radius:50%;
        background-color:#B5DDC2;
        position:relative;
        top:80.14px;
        left: -130.26px;
        
          
    }
    
    
    .dusra{
        height: 200.39px;
        width: 200.39px;
        border: 1px solid black;
        background-color: #F2C7AB;
        border-radius: 50%;
        position: relative;
        top: -95.45px;
        left: 65.42px; 
        z-index: 3;
    }
    
    .img-1{
        position: relative;
    width: 115.97px;
    height: 134.95px;
    top: 27px;
    left: -20px;
    
    opacity: 0.85px;
    
    }
    
    
    
    .place{
        position: absolute;
        width: 116px;
        height: 37.16px;
        border:1px solid black;
        border-radius: 25.58px;
        top: 22px;
        right: 39px;
        z-index: 6;
        background: rgba(254, 251, 236, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.025em;
        
    
    
    }
    
    .circle2{
        height: 281.39px;
        width: 281.39px;
        border-radius: 50%;
        background-color:#B5DDC2;
        position:relative;
        left: -146.6px; 
        top: -117px;
        filter: blur(20px);
        opacity: 30%;
    }
    
    .circle3{
    
        height: 281.39px;
        width: 281.39px;
        border-radius: 50%;
        background-color:#B5DDC2;
        position:relative;
        top:70px;
        left:110px;
        filter: blur(20px);
        opacity: 30%;
    
    }
    
    .tbox{
        display: flex;
        flex-direction: column;
        margin-left: 37px;
        margin-top: 13px;
        width:560px;
        position: absolute;
        z-index: 2;
    }
    
    .heading{
        font-family: Poppins;
    font-size: 35.17px;
    font-weight: 600;
    line-height: 53.26px;
    letter-spacing: 0.025em;
    text-align: left;
    
    }
    
    .subhead{
    
        font-family: Poppins;
    font-size: 23.6px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.025em;
    text-align: left;
    
    
    }
    
    .para{
        font-family:Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.025em;
    text-align: justified;
    margin-top: 5px;
    
    
    }
    
    .bottext{
        height: 60px;   
        width: 202px;
        display: flex;
        justify-content: center;
        gap: 12px;
        align-items: center;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.025em;
        text-align: left;
    
    }
    
    .bottom1 img{
        width: 18px;
        height: 19px;
    
    
    }
    
    .bottom2 img{
        width: 18px;
        height: 18px;
    
    
    }
    
    .bottom3 img{
        width: 16px;
        height: 21px;
    
    
    }



      
      .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10; 
      }
      
      .carousel-button.left {
        width: 71px;
        height: 71px;
        left: 25px;
        
      }
      
      .carousel-button.right {
        width: 71px;
        height: 71px;
        right: 25px;
        
      }
    
  }


  @media only screen and (max-width: 695px) {

    .workshops{
        background-color: #B5DDC2;
    
        height: 91.35px;
        border-top:1px solid #000000;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .workshops p{
        font-family: ITC Tiffany Std;
    font-size: 57px;
    font-weight: 700;
    line-height: 74.32px;
    text-align: left;
    
    }


    .card-mine{
        height: 250px;
        width: 375px;
        border: 2px solid #000000;
        border-radius: 18px;
        background-color: #FEFBEC;
        overflow: hidden;
        position: relative;
        
    }
    
    .top{
        height: 106px;
        border-bottom: 1px solid black;  
        overflow: hidden;
        display: flex;
    }
    
    .mid{
        height: 110px;
        border-bottom: 1px solid black;
        border-top:1px solid black ;
        border-collapse: separate;
        overflow: hidden;
        display: flex;
        
        
        
    
    }
    
    .bottom{
        height: 34px;
        width: 375px;
        border-top: 1px solid black;
        display: flex;
        
    }
    
    .bottom1{
        height: 34px;
        width: 125px;
    }
    .bottom2{
        height: 60px;
        width: 125px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    
    }
    .bottom3{
        height: 60px;
        width: 125px;
    }
    
    .circle{
        height: 150.39px;
        width: 150.39px;
        border: 1px solid black;
        border-radius:50%;
        background-color:#B5DDC2;
        position:relative;
        top:35px;
        left: -60px;
        
          
    }
    
    
    .dusra{
        height: 130px;
        width: 130px;
        border: 1px solid black;
        background-color: #F2C7AB;
        border-radius: 50%;
        position: relative;
        top: -65.45px;
        left: 55.42px; 
        z-index: 3;
    }
    
    .img-1{
        position: relative;
    width: 68.65px;
    height: 80px;
    top: 17px;
    left: 10px;
    
    opacity: 0.85px;
    
    }
    
    
    
    .place{
        position: absolute;
        width: 80px;
        height: 27.16px;
        border:1px solid black;
        border-radius: 25.58px;
        top: 18px;
        right: 18px;
        z-index: 6;
        background: rgba(254, 251, 236, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        font-size: 13px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.025em;
        
    
    
    }
    
    .circle2{
        height: 150.39px;
        width: 150.39px;
        border-radius: 50%;
        background-color:#B5DDC2;
        position:relative;
        left: -60px; 
        top: -30px;
        filter: blur(20px);
        opacity: 30%;
    }
    
    .circle3{
    
        height: 150.39px;
        width: 150.39px;
        border-radius: 50%;
        background-color:#B5DDC2;
        position:relative;
        top:30px;
        left:80px;
        filter: blur(20px);
        opacity: 30%;
    
    }
    
    .tbox{
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        margin-top: 8px;
        width:310px;
        position: absolute;
        z-index: 2;
    }
    
    .heading{
        font-family: Poppins;
    font-size: 23.17px;
    font-weight: 600;
    line-height: 20.26px;
    letter-spacing: 0.025em;
    text-align: left;
    
    }
    
    .subhead{
    
        font-family: Poppins;
    font-size: 14.6px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.025em;
    text-align: left;
    
    
    }
    
    .para{
        font-family:Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.025em;
    text-align: justified;
    margin-top: 0px;
    
    
    }
    
    .bottext{
        height: 34px;   
        width: 125px;
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        font-family: Poppins;
        font-size: 10px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.025em;
        text-align: left;
    
    }
    
    .bottom1 img{
        width: 13px;
        height: 14px;
    
    
    }
    
    .bottom2 img{
        width: 13px;
        height: 13px;
    
    
    }
    
    .bottom3 img{
        width: 13px;
        height: 16px;
    
    
    }

    .carousel-item {
        width: 100vw;
        margin: 100px 0px;
        display: flex;
        justify-content: center;
    
      }


      
      .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10; 
      }
      
      .carousel-button.left {
        width: 48px;
        height: 48px;
        left: 5px;
        
      }
      
      .carousel-button.right {
        width: 48px;
        height: 48px;
        right: 5px;
        
      }
    
  }


 
  