/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
    font-family:myFont ;
    src: url(Griastetrial.otf);
}



.place{
    font-family: Poppins;
}

.heading{
    font-family: Poppins;

}


.subhead{

    font-family: Poppins;
}

.para{
    font-family:Poppins;



}

.bottext{

    font-family: Poppins;
   

}

.workshops p{
    font-family: ITC Tiffany Std;

}

@media only screen and (max-width: 980px) {

    .workshops{
        background-color: #B5DDC2;
    
        height: 91.35px;
        border-top:1px solid #000000;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .workshops p{
        font-family: ITC Tiffany Std;
    font-size: 66px;
    font-weight: 700;
    line-height: 74.32px;
    text-align: left;
    
    }


    .card-mine{
        height: 435px;
        width: 610px;
        border: 2px solid #000000;
        border-radius: 35px;
        background-color: #FEFBEC;
        overflow: hidden;
        position: relative;
        
    }
    
    .top{
        height: 185px;
        border-bottom: 1px solid black;  
        overflow: hidden;
        display: flex;
    }
    
    .mid{
        height: 191px;
        border-bottom: 1px solid black;
        border-top:1px solid black ;
        border-collapse: separate;
        overflow: hidden;
        display: flex;
        
        
        
    
    }
    
    .bottom{
        height: 60px;
        width: 610px;
        border-top: 1px solid black;
        display: flex;
        
    }
    
    .bottom1{
        height: 60px;
        width: 202px;
    }
    .bottom2{
        height: 60px;
        width: 202px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    
    }
    .bottom3{
        height: 60px;
        width: 202px;
    }
    
    .circle{
        height: 280.39px;
        width: 280.39px;
        border: 1px solid black;
        border-radius:50%;
        background-color:#B5DDC2;
        position:relative;
        top:80.14px;
        left: -130.26px;
        
          
    }
    
    
    .dusra{
        height: 200.39px;
        width: 200.39px;
        border: 1px solid black;
        background-color: #F2C7AB;
        border-radius: 50%;
        position: relative;
        top: -95.45px;
        left: 65.42px; 
        z-index: 3;
    }
    
    .img-1{
        position: relative;
    width: 115.97px;
    height: 134.95px;
    top: 27px;
    left: -20px;
    
    opacity: 0.85px;
    
    }
    
    
    
    .place{
        position: absolute;
        width: 116px;
        height: 37.16px;
        border:1px solid black;
        border-radius: 25.58px;
        top: 22px;
        right: 39px;
        z-index: 6;
        background: rgba(254, 251, 236, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.025em;
        
    
    
    }
    
    .circle2{
        height: 281.39px;
        width: 281.39px;
        border-radius: 50%;
        background-color:#B5DDC2;
        position:relative;
        left: -146.6px; 
        top: -117px;
        filter: blur(20px);
        opacity: 30%;
    }
    
    .circle3{
    
        height: 281.39px;
        width: 281.39px;
        border-radius: 50%;
        background-color:#B5DDC2;
        position:relative;
        top:70px;
        left:110px;
        filter: blur(20px);
        opacity: 30%;
    
    }
    
    .tbox{
        display: flex;
        flex-direction: column;
        margin-left: 37px;
        margin-top: 13px;
        width:560px;
        position: absolute;
        z-index: 2;
    }
    
    .heading{
        font-family: Poppins;
    font-size: 35.17px;
    font-weight: 600;
    line-height: 53.26px;
    letter-spacing: 0.025em;
    text-align: left;
    
    }
    
    .subhead{
    
        font-family: Poppins;
    font-size: 23.6px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.025em;
    text-align: left;
    
    
    }
    
    .para{
        font-family:Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.025em;
    text-align: justified;
    margin-top: 5px;
    
    
    }
    
    .bottext{
        height: 60px;   
        width: 202px;
        display: flex;
        justify-content: center;
        gap: 12px;
        align-items: center;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.025em;
        text-align: left;
    
    }
    
    .bottom1 img{
        width: 18px;
        height: 19px;
    
    
    }
    
    .bottom2 img{
        width: 18px;
        height: 18px;
    
    
    }
    
    .bottom3 img{
        width: 16px;
        height: 21px;
    
    
    }



      
      .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10; 
      }
      
      .carousel-button.left {
        width: 71px;
        height: 71px;
        left: 25px;
        
      }
      
      .carousel-button.right {
        width: 71px;
        height: 71px;
        right: 25px;
        
      }
    
  }


  @media only screen and (max-width: 695px) {

    .workshops{
        background-color: #B5DDC2;
    
        height: 91.35px;
        border-top:1px solid #000000;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .workshops p{
        font-family: ITC Tiffany Std;
    font-size: 57px;
    font-weight: 700;
    line-height: 74.32px;
    text-align: left;
    
    }


    .card-mine{
        height: 250px;
        width: 375px;
        border: 2px solid #000000;
        border-radius: 18px;
        background-color: #FEFBEC;
        overflow: hidden;
        position: relative;
        
    }
    
    .top{
        height: 106px;
        border-bottom: 1px solid black;  
        overflow: hidden;
        display: flex;
    }
    
    .mid{
        height: 110px;
        border-bottom: 1px solid black;
        border-top:1px solid black ;
        border-collapse: separate;
        overflow: hidden;
        display: flex;
        
        
        
    
    }
    
    .bottom{
        height: 34px;
        width: 375px;
        border-top: 1px solid black;
        display: flex;
        
    }
    
    .bottom1{
        height: 34px;
        width: 125px;
    }
    .bottom2{
        height: 60px;
        width: 125px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    
    }
    .bottom3{
        height: 60px;
        width: 125px;
    }
    
    .circle{
        height: 150.39px;
        width: 150.39px;
        border: 1px solid black;
        border-radius:50%;
        background-color:#B5DDC2;
        position:relative;
        top:35px;
        left: -60px;
        
          
    }
    
    
    .dusra{
        height: 130px;
        width: 130px;
        border: 1px solid black;
        background-color: #F2C7AB;
        border-radius: 50%;
        position: relative;
        top: -65.45px;
        left: 55.42px; 
        z-index: 3;
    }
    
    .img-1{
        position: relative;
    width: 68.65px;
    height: 80px;
    top: 17px;
    left: 10px;
    
    opacity: 0.85px;
    
    }
    
    
    
    .place{
        position: absolute;
        width: 80px;
        height: 27.16px;
        border:1px solid black;
        border-radius: 25.58px;
        top: 18px;
        right: 18px;
        z-index: 6;
        background: rgba(254, 251, 236, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        font-size: 13px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.025em;
        
    
    
    }
    
    .circle2{
        height: 150.39px;
        width: 150.39px;
        border-radius: 50%;
        background-color:#B5DDC2;
        position:relative;
        left: -60px; 
        top: -30px;
        filter: blur(20px);
        opacity: 30%;
    }
    
    .circle3{
    
        height: 150.39px;
        width: 150.39px;
        border-radius: 50%;
        background-color:#B5DDC2;
        position:relative;
        top:30px;
        left:80px;
        filter: blur(20px);
        opacity: 30%;
    
    }
    
    .tbox{
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        margin-top: 8px;
        width:310px;
        position: absolute;
        z-index: 2;
    }
    
    .heading{
        font-family: Poppins;
    font-size: 23.17px;
    font-weight: 600;
    line-height: 20.26px;
    letter-spacing: 0.025em;
    text-align: left;
    
    }
    
    .subhead{
    
        font-family: Poppins;
    font-size: 14.6px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.025em;
    text-align: left;
    
    
    }
    
    .para{
        font-family:Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.025em;
    text-align: justified;
    margin-top: 0px;
    
    
    }
    
    .bottext{
        height: 34px;   
        width: 125px;
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        font-family: Poppins;
        font-size: 10px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.025em;
        text-align: left;
    
    }
    
    .bottom1 img{
        width: 13px;
        height: 14px;
    
    
    }
    
    .bottom2 img{
        width: 13px;
        height: 13px;
    
    
    }
    
    .bottom3 img{
        width: 13px;
        height: 16px;
    
    
    }

    .carousel-item {
        width: 100vw;
        margin: 100px 0px;
        display: flex;
        justify-content: center;
    
      }


      
      .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10; 
      }
      
      .carousel-button.left {
        width: 48px;
        height: 48px;
        left: 5px;
        
      }
      
      .carousel-button.right {
        width: 48px;
        height: 48px;
        right: 5px;
        
      }
    
  }


 
  

@font-face {
  font-family: "ITC Tiffany W01 Regular";
  src: url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.eot");
  src: url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.svg#ITC Tiffany W01 Regular")format("svg");
}

.font-main {
  font-family: "ITC Tiffany W01 Regular";
}

.horizon24-horizon24 {
    height: 238px;
    flex: 1;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
    animation: move-left 20s linear infinite;
  }
  @keyframes move-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .horizon24-horizon24-wrapper {
    position: absolute;
    top: 820.4px;
    left: -164.7px;
    background-color: #b5ddc2;
    border: 2px solid var(--color-gray);
    box-sizing: border-box;
    width: 3423px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 29px 0 0;
    text-align: left;
    font-size: 198.4px;
    color: var(--color-gray);
    font-family: var(--font-itc-tiffany-std);
  }
  .back-again-in {
    height: 72px;
    flex: 1;
    position: relative;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  .back-again-in-2024-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 16px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .lorem-ipsum-dolor {
    align-self: stretch;
    height: 440px;
    position: relative;
    font-size: 32px;
    letter-spacing: -0.01em;
    font-family: var(--font-open-sans);
    text-align: justify;
    display: flex;
    align-items: center;
  }
  .frame-parent {
    align-self: stretch;
    backdrop-filter: blur(50px);
    border-radius: 48px;
    background-color: rgba(254, 251, 236, 0.8);
    border: 2px solid var(--color-gray);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 64px 62px;
    gap: 24px;
    max-width: 100%;
    z-index: 1;
  }
  .back-again-in1 {
    width: 339px;
    position: relative;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    z-index: 2;
  }
  .back-again-in-2024-container,
  .instance-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .back-again-in-2024-container {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 21px 0 var(--padding-xl);
    box-sizing: border-box;
    margin-top: -600px;
  }
  .instance-parent {
    position: absolute;
    top: 639px;
    left: 356.3px;
    width: 849px;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 664px;
  }
  .outer-container {
    
    position: relative;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--font-size-41xl);
    color: var(--color-gray);
    font-family: var(--font-itc-tiffany-std);
  }
  .frame-parent:hover {
    background-color: #F2C6AB;
  }
  @media screen and (max-width: 767px) {
    .horizon24-horizon24 {
      font-size: 79px;
    }
    .back-again-in {
      font-size: var(--font-size-29xl);
    }
    .lorem-ipsum-dolor {
      font-size: 26px;
    }
    .back-again-in1 {
      font-size: var(--font-size-29xl);
    }
  }
  @media screen and (max-width: 450px) {
    .horizon24-horizon24 {
      font-size: 50px;
    }
    .back-again-in {
      font-size: var(--font-size-17xl);
    }
    .lorem-ipsum-dolor {
      font-size: 19px;
    }
    .back-again-in1 {
      font-size: var(--font-size-17xl);
    }
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  :outer-container {
    /* fonts */
    --font-itc-tiffany-std: "ITC Tiffany Std";
    --font-open-sans: "Open Sans";
  
    /* font sizes */
    --font-size-41xl: 60px;
    --font-size-17xl: 36px;
    --font-size-29xl: 48px;
  
    /* Colors */
    --color-gray: #1e1e1e;
  
    /* Paddings */
    --padding-xl: 20px;
  }

  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-itc-tiffany-std: "ITC Tiffany Std";
    --font-open-sans: "Open Sans";
  
    /* font sizes */
    --font-size-41xl: 60px;
    --font-size-17xl: 36px;
    --font-size-29xl: 48px;
  
    /* Colors */
    --color-gray: #1e1e1e;
  
    /* Paddings */
    --padding-xl: 20px;
  }
@font-face {
    font-family: "ITC Tiffany W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.eot");
    src: url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.svg#ITC Tiffany W01 Regular")format("svg");
  }
  
  .font-main {
    font-family: "ITC Tiffany W01 Regular";
  }


  @font-face {
    font-family: "ITC Tiffany W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.eot");
    src: url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9b09d0e485b588d7a58a0202ceb8158d.svg#ITC Tiffany W01 Regular")format("svg");
  }
  
  .font-main {
    font-family: "ITC Tiffany W01 Regular";
  }
