@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TiffanyStd";
    src: url("/src/Fonts/tiff.woff2") format("woff2");
}

.font-main {
    font-family: "TiffanyStd";
}
